# Nuxt defaults
node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist

# OS Files
.DS_Store

# Hide mock data by default
mockData.json

# Cleaned up mock data
!src/server/api/mockData.json

# Remove local assets stored in cloud storage
images-offline
