@media screen and (max-width: 768px) {
  .mobile-hide {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dela Gothic One", sans-serif;
}

.view-enter-active,
.view-leave-active {
  opacity: 1;
  transition: 0.5s ease;
  transform: translateY(0);
}

.view-enter-from {
  opacity: 0;
  transition: 0.5s ease;
  transform: translateY(1rem);
}

.view-leave-to {
  transition: 0.5s ease;
  opacity: 0;
  transform: translateY(-1rem);
}
